.rootContainer {
  height: auto;
  padding: 0px 8px 0px 8px;
  background-color: rgb(247, 233, 207);
  border-radius: 10px;
}
.modalTitle {
  font-size: 24px;
  color: #0e2343;
}

.noItems {
  color: blue;
  font-size: 18px;
}

.netItemAmount {
  font-size: 20px;
  color: blue;
  padding: 8px 0px;
}
.itemSum {
  font-weight: bold;
  display: inline-block;
  color: rgb(255, 255, 255);
  padding: 5px 5px;
  border-radius: 10px;
  background-color: rgb(107, 136, 255);
}

.modalHeader {
  position: sticky;
  top: 0;
  background-color: rgb(247, 233, 207);
}
.footer {
  position: sticky;
  bottom: 0;
  background-color: rgb(247, 233, 207);
}
.footerElements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.footerBtns {
  gap: 10px;
  display: flex;
  align-self: center;
}
@media only screen and (max-width: 700px) {
  .footerBtns {
    margin-bottom: 10px;
  }
}
.checkOutBtn {
  align-self: center;
}
