.ModalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  outline: 0;
  max-width: 90%;
  max-height: 90%;
  overflow: scroll;
  height: auto;
  padding: 10px 8px;
  background-color: rgb(247, 233, 207);
  border-radius: 10px;
}
.modalTitle {
  font-size: 28px;
  color: #0e2343;
}

.noItems {
  color: blue;
  font-size: 18px;
}

.netItemAmount {
  float: right;
  margin-right: 20px;
  margin-bottom: 15px;
  font-size: 20px;
  color: blue;
}
.itemSum {
  font-weight: bold;
  color: greenyellow;
  padding: 10px;
  border-radius: 10px;
  background-color: brown;
}
.modalStartAnim {
  animation: slideInFromTop 0.2s ease-in;
}
.modalCloseAnim {
  animation: slideAway 0.2s ease-out;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideAway {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
