.title {
  margin-left: 10px;
  color: white;
  text-decoration: none;
  font-size: larger;
  align-self: center;
}

.cartPos {
  margin-right: 10px;
}

.container {
  justify-content: space-between;
  position: relative;
}

.leftItems {
  display: flex;
  gap: 25px;
}
.HeaderItem {
  text-decoration: none;
  color: white;
  align-self: center;
  padding: 4px 10px;
  border-radius: 10px;
}

.HeaderItem:hover {
  background-color: cadetblue;
}
.HeaderItemActive {
  background-color: cadetblue;
}
